div{

   
    .nav_bar{
        padding-top: 30px;
        text-decoration: none;
        li{
            text-align: center;
            padding: 10px;
            .nav_link{
                color: black;
                text-decoration: none;
                span{
                    font-family: 'Mansalva', cursive;
                    font-size: 180%;
                    transition: 0.5s;
                    

                }
            }
            
        }
    }
    li:hover{
                span:hover{
                    padding-left: 50px;
                    transition: 0.5s; 
                
                    
                }
        
    }

    .h1_below{
        font-size: 140%;
        text-align: center;
        font-family: Gotham-Light;
        color: black;
        margin-top: 10px;
    }

    .h4_below{
        font-size: 125%;
        text-align: center;
        font-family: Gotham-Medium;
        color: black;
        padding-bottom: 30px;
    }


    
    
    
}
